<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 목록</title>
</head>
<body>
    <h1>제품 목록 🛒</h1>
    <table border="1">
      <thead>
        <tr>
          <th>이름</th>
          <th>가격</th>
          <th>설명</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>